:host {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  font-weight: bolder;
  color: cadetblue;
  background-color: bisque;
  user-select: none;
}
