:host {
  display: flex;
  height: 100%;

  nav {
    width: 240px;
    height: 100%;
    border-right: 1px solid rgba(0,0,0,.12);
    transition: width 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  nav.collapsed {
    width: 0;
    overflow: hidden;
  }


  .content {
    flex: 1;
  }

}
